* {
    box-sizing: border-box;
    font-family:"sans-serif";
    color:#555;
  }
  .menu {
    float:left;
    width:20%;
  }

  ul {
  list-style-type: none;
  margin-top: 35px;
  padding: 0;
  width: 80%;
  }

li a {
  margin:10px;
  display: block;
  color: white;
  padding: 8px 16px;
  background-color: red;
  text-decoration: none;
}

li a:hover {
    text-decoration: underline;
}

  .main {
    float:left;
    width:60%;
    padding:0 20px;
  }
  .right {
    background-color:#fff;
    float:left;
    width:20%;
    padding:15px;
    margin-top:7px;
    text-align:left;
    color:#555;
  }
  
  .cap {
    background-color: #eee;
    padding-bottom: 1px;
  }
  
  .foot {
    text-align:center;
    background-color: #ddd;
    padding-bottom: 1px;
  }
  
 @media only screen and (max-width:620px) {
    /* For mobile phones: */
    .menu, .main, .right {
      width:100%;
    }
  }
