/* css per al projecte mosquitto de 1r de DAW ies blasco ibáñez
   mòdul: Lenguatges de marques i si
   curs 24/25
   xavi blanes                                              */
 
 * {
      box-sizing: border-box;
      font-family: sans-serif;
    }
     
    .cap {
      color: #333;
      height:auto;
    }
    
    .cap h1, h2{
      margin:0px;
      text-align: center;
      font-weight: normal;
    }
        
    .peu {
      overflow: auto;
      height:auto;
      background-color:#111;
      padding: 1% 3% 3% 3%;
    }
    
    .bloc {
        padding:3%;
    }

    .bloc-2col {
        padding:3%;
        float: left;
        width: 50%;
    }

    .bloc-2col h1 {
        text-align: center;
        font-weight: normal;
    }
    
    .bloc, .bloc-2col a {
        color: #75c;
        text-decoration: none;
    }
    
    .bloc, .bloc-2col a:hover {
        color: #000;
    }
    
    .barra-menus {
      overflow: auto;
      width: 100%;
      height: auto;
    }
    
    .menu1 li {
        float: left;
    }
    
    .menu1 a:hover {
        filter: brightness(70%);
    }

    .menu2 {
      margin-right:15px;
    }
  
    .menu2 ul {
        list-style-type: none;
        width: 100%;
    }
        
    .menu2 li {
        float: right;
    }

    .menu2 li a {
        display: inline;
        color: #444;
        padding: 10px;
        text-decoration: none;
    }

    .menu2 li a:hover {
        color: #75c;
        background-color:#eee;
    }
    
    .menu3 {
        background-color: #111;
    }

    .menu3 ul {
        list-style-type: none;
        width: 100%;
    }

    .menu3 li a {
        float: left;
        color: white;
        padding: 10px;
        text-decoration: none;
    }

    .menu3 a:hover {
        color: #aaa;
    }

    @media only screen and (max-width: 620px) {
      /* For mobile phones: */
      .bloc-2col {
        width: 100%;
      }
    }
    
  
