* {
  font-family:sans-serif;
  color:#aaa;"
  box-sizing: border-box;
}

h3 {
   background-color:#eee; 
   color:#555;
   padding:4px;
   border-radius: 3px;
}

h2 {
  color:#88ac0b;
}

.nave	{
	width:100%;
}

.nave ul {

  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #88ac0b;
}

.nave li {
  float: right;
  font-weight: bold;
}

.nave li a, .nave li a:visited {
  display: block;
  color: #fff;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.nave li a:hover {
  background-color: #fff;
  color: #111;
}
.cap {
  background-color: #e6ecff;
  width:100%;
}

.left {
  float:left;
  width:20%;
}

.main {
  float:left;
  width:60%;
  padding:0 20px;
}
.right {
  text-align:center;
  background-color:#fff;
  float:left;
  width:16%;
  text-align:center;
}

li, li a, li a:visited	
	{
	text-decoration: none;
	color:#3385ff;
	}
li a:hover {
	text-decoration: none;
	color:#88ac0b;
	}

.foot {
  text-align:center;
  padding:10px;
  margin-top:7px;
  font-size:small;
}

@media only screen and (max-width:620px) {
  /* For mobile phones: */
  .main, .right, .left {
    width:100%;
  }
}
