body {
    box-sizing: border-box;
    font-family:monospace;
	color: #407;
	background-color: #fff;
}

pre {
    font-size:1.5vw;
}

.cap, .cap a, .cap a:visited {
    font-size:1.8vw;
    text-align: center;
	color: #fff;
	background-color: #407;
}

.menu, .menu a, .menu a:visited {
    font-size:1.8vw;
    text-align: center;
	color: #407;
	background-color: #fff;
}






