* {
  box-sizing: border-box;
  font-family: "sans-serif";
  color:#555;
}

.cap {
  width:100%;
}

.cap img {padding:2%;}

h3{
  background-color:#ddd;
  padding-left:3px;
}

.menu {
  float:left;
  width:25%;
  text-align:left;
}
.menu a {
  display: block;
  margin-left: 10px;
  text-decoration: none;
  display:block;
}

.menu a:hover {
  padding-left:11px;
  font-weight: bold;
  display:block;
  text-decoration: underline;
}

.main {
  color:black;
  border-left: 2px solid #999;
  border-top: 3px solid #bbb;
  float:left;
  width:75%;
  padding:10px;
}

.foot  {
  border-top: 3px solid #bbb;
  text-align:center;
  color: #555;
  background-size: cover;
}

@media only screen and (max-width:620px) {
    /* For mobile phones: */
    .menu, .main, .right, .logo {
      width:100%;
    }
  }
