* {
  font-family: sans-serif;
  box-sizing: border-box;
}
a {
  color: #222;
  }
.menu {
  float: left;
  width: 100%;
  text-align: right;
  }
.logo {
  text-align: left;
  }

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  display: inline;
  padding-right: 30px;
}

.una_col {
  float: left;
  font-size:2em;
  width: 100%;
  text-align: left;
  background-color: #008080;
  color:white;
  padding: 25px;
}

.tres_col {
  float: left;
  width: 33.33%;
  height: 400px;
  text-align: left;
  background-color: #008080;
  color:white;
  padding: 25px;
}

.main {
text-align: left;
  float: left;
  width: 100%;
  padding:40px;
}


.foot {
  text-align:center;
  color:white;
  background-color: #222;
  padding:20px;
}

@media only screen and (max-width: 620px) {
  /* For mobile phones: */
  .tres_col {
    width: 100%;
  }
}
