
* {
  box-sizing: border-box;
  font-family:sans-serif;
}

.cap {
  border-radius:10px;
  margin: 0% 5%;
  width:90%;
  padding:2%;
  background-color:#333;
  overflow:auto;
}

.peu {
  border-radius:10px;
  background-color:#eee;
  text-align:center;
  margin: 0% 5%;
  padding: 2%;
  width:90%;
  font-size:0.8em;
}

.main {
  margin: 0% 5%;
  width:90%;
  padding:2%;
  overflow:auto;
}

.main a {color:#222;}

h1, h2, p {
  background-color:#fff;
}

.menu{
  width:90%;
  margin: 0% 5%;
}

.menu ul {
  background-color:#333;
  text-align: center;
  border-radius:10px;
  list-style-type: none;
  overflow: hidden;
}

.menu li {
  float: left;
}

.menu li a {
  display: block;
  color: #298D84;
  text-align: center;
  padding: 14px;
}

.menu li a:hover {
  color: #fff;
  font-weight: bold;  
  text-decoration: none;
}

