* {
  box-sizing: border-box;
  font-family: "sans-serif";
}

.menu {
  style="padding:10px;
  }

.main {
  width:100%;
  overflow:auto;
  }

.button-indigo {
  padding:25px;
  text-align:center;
  width:200px;
  background-color:#3385ff;
  text-decoration: none;
  }

.button-indigo a {
  color:white;
  text-decoration: none;
  }

.button-indigo:hover {
  background-color:#0052cc;
  }

.gran {
  font-size:3em;
  color:#161f31;
  }

.mig {
  font-size:1.5em;
  color:#161f31;
  }
  
button {
  margin:30px;
  font-size:3em;
  color:#0cc;
  background-color:white;
  padding:30px;
  }

.dos-col {
  vertical-align: top;
  float:left;
  width:50%;
  padding:3%;
  }
  
.una-col {
  float:left;
  width:100%;
  padding:3%;
  }

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #161f31;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
}

li {
  float: right;
}

li a {
  display: block;
  color: #eee;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  text-decoration: underline;
}

.foot {
  padding:30px;
  text-align: center;
  color: #999; 
  overflow:auto;
  }
  
@media only screen and (max-width: 620px) {
  /* For mobile phones: */
  .dos-col {
      width:100%;
    }
}
